a {
  text-decoration: none !important;
  color: inherit !important;
}

.home {
  display: flex;
}

.productContainer {
  display: flex;
  width: 78%;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.filters {
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  background-color: bisque;
  font-weight: bold;
  font-size: 20px;
  gap: 4rem;
  height: 680px;
  cursor: pointer;
}
.filters Button {
  font-size: 20px;
  font-weight: bold;
  background-color: greenyellow;
}

.product {
  margin: 30px;
}
.cartitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartItemDetail {
  display: flex;
  float: 1;
  padding: 0 20px;
  flex-direction: column;
}
.cartitem img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.cartitem .icon {
  color: red;
  font-weight: bold;
  font-size: 20px;
}
